In [1]:
import pandas as pd
import plotly.graph_objects as go
df = pd.read_csv("data/World/time_series_covid_19_confirmed.csv")
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19

In [2]:
df = df.rename(columns= {"Country/Region" : "Country", "Province/State": "Province"})
df.head(20)

,Province,Country,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,607,665
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,446,467
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,1914,1983
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,638,646
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,19,19
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,15,15,15,19,19,19,19,21,21,23
6,NaN,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,...,1451,1451,1554,1628,1715,1795,1975,1975,2142,2208
7,NaN,Armenia,40.0691,45.0382,0,0,0,0,0,0,...,770,822,833,853,881,921,937,967,1013,1039
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,93,96,96,96,99,100,103,103,103,102
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2493,2580,2637,2686,2734,2773,2822,2857,2857,2863
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,26,27,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,900,907,921,934,943,953,965,974,983,987
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,407,407,411,411,415,420,428,429,429,429
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,80,82,86,89,98,111,122,133,133,144
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1115,1135,1158,1191,1212,1228,1241,1265,1268,1281
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,436,453,460,460,481,495,506,514,514,517
16,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,11781,12051,12297,12639,12942,13244,13555,13806,13945,14041
17,NaN,Azerbaijan,40.1431,47.5769,0,0,0,0,0,0,...,521,584,641,717,822,926,991,1058,1098,1148
18,NaN,Bahamas,25.0343,-77.3963,0,0,0,0,0,0,...,28,28,29,33,40,41,42,46,46,47
19,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,688,700,756,811,823,887,925,1040,1136,1361

In [4]:
df['text'] = df['Country'] + " " + df["4/13/20"].astype(str)
fig = go.Figure(data = go.Scattergeo(
    lon = df["Long"],
    lat = df["Lat"],
    text = df["text"],
    mode = "markers",
    marker = dict(
        size = 12,
        opacity = 0.8,
        reversescale = True,
        autocolorscale = True,
        symbol = 'square',
        line = dict(
            width = 1,
            color = 'rgba(102, 102, 102)'
        ),
        cmin = 0,
        color = df['4/13/20'],
        cmax = df['4/13/20'].max(),
        colorbar_title = "COVID 19 Reported Cases"
    )
))

fig.update_layout(
    title = "COVID19 Confirmed Cases Around the World",
    geo = dict(
        scope = "world",
        showland = True,
    )
)

fig.write_html('first_figure.html', auto_open=True)